# Ignorar tudo
*
# Mas não ignorar pastas (necessário para que os arquivos dentro possam ser incluídos)
!*/

# Não ignorar arquivos .txt e .v
!.gitignore
!README.md
!Makefile
!*.txt
!*.do
!*.mif
!*.v

cache_l1_2way.v
# Nao ignorar pasta .vscode e seus arquivos
!.vscode/*